{% extends "partials/base.html" %}

{% block title %}
<h1 class="text-center">Breweries API</h1>
<h5 class="text-center">Are you looking for a brewery? This website uses a comprehensive API to list all breweries.</h5>
{% endblock %}

{% block content %}
<div class="list-group list-group-flush">
  
  {% for brewery in list %}
  <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <span class="my-0 h5" style="flex:1">
    {% if list[brewery]['likes'] %}
      <p class="m-0">{{ list[brewery]['likes'] }} likes</p>
    {% else %}
      <p class="m-0">No votes yet!</p>
    {% endif %}
    </span>
    <a style="flex:1" class="text-center" href="{{ url_for('brewery', brewery_id = list[brewery]['id']) }}">{{ list[brewery]['name'] }}</a>
    <div class="text-right" style="flex:1">
      <a href="{{ url_for('up', id=list[brewery]['id']) }}" class="btn btn-outline-success">+1</a>
      <a href="{{ url_for('down', id=list[brewery]['id']) }}" class="btn btn-outline-danger">-1</a>
    </div>
  </div>
  {% endfor %}
    
</div>
{% endblock %}
