{% extends "partials/base.html" %}

{% block title %}
<h1 class="text-center">Breweries API</h1>
<h5 class="text-center">Are you looking for a brewery? This website uses a comprehensive API to list all breweries.</h5>
{% endblock %}

{% block content %}
<ul>
  {% for brewery in list %}
  <a href="{{ url_for('brewery', brewery_id = brewery['id'])}}">  
    <li>{{ brewery['name'] }}</li>
  </a>
  <ul>
    <li><a href='{{ url_for("up") }}'>Like</a></li>
    <li><a href='{{ url_for("down") }}'>Dislike</a></li>
  </ul>
  {% endfor %}
</ul>
{% endblock %}
